.section-1 {
  .hero {
    min-height: 800px;
    width: max-content;
    color: #fff;

  }
  .heroImg {
    // width: max-content;
    // height: max-content;
    // position: relative;
  }

  .container-fluid {
    // position: absolute;
  }
}
